/*
@File: Axolot Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

*** - Default CSS
*** - Prealoader CSS 
*** - Navbar CSS
*** - Main Banner CSS
*** - Features CSS
*** - About CSS
*** - Services CSS
*** - Vision CSS
*** - Fun Facts CSS
*** - Join Now CSS
*** - How It Works CSS
*** - Team CSS
*** - Testimonials CSS
*** - FAQ CSS
*** - Pricing CSS
*** - Partner CSS
*** - Subscribe CSS
*** - Page Title CSS
*** - Contact CSS
*** - Footer Area CSS
*** - Go Top CSS
*** - Router Transitions
*/
/* ==============
    Start Default CSS 
==================================== */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
}

img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #506cea;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.8;
  color: #6f8ba4;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-100 {
  margin-top: 100px;
}

.bg-gray {
  background-color: #edf5ff;
}

/* Section Title */
.section-title {
  margin-bottom: 60px;
  text-align: center;
  margin-top: -6px;
}

.section-title span {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
  color: #506cea;
}

.section-title h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 20px;
  max-width: 520px;
}

.section-title h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  border-radius: 5px;
  right: 0;
  margin: 0 auto;
  background: #506cea;
}

.section-title p {
  max-width: 550px;
  margin: 0 auto;
}

/* Owl Carousel Btn */
.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-nav [class*="owl-"] {
  font-size: 17px !important;
  margin: 0 !important;
  padding: 0 !important;
  background: #ffffff !important;
  display: inline-block !important;
  border-radius: 0 !important;
  position: absolute;
  left: 20px;
  color: #506cea !important;
  top: 22%;
  height: 150px;
  opacity: 0;
  overflow: hidden;
  width: 15px;
  line-height: 150px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #ffffff !important;
  background: #506cea !important;
}

.owl-theme .owl-nav .owl-next {
  left: auto;
  right: 20px;
}

.owl-theme:hover .owl-nav [class*="owl-"] {
  opacity: 1;
  overflow: visible;
  left: 0;
}

.owl-theme:hover .owl-nav .owl-next {
  left: auto;
  right: 0;
}

/* Btn Button */
.btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 27px;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  -webkit-transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  -webkit-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
}

.btn:hover::before {
  background: #ffffff;
  -webkit-transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.btn-primary {
  background-color: #506cea;
  border-color: #506cea;
  color: #ffffff;
}

.btn-primary.focus,
.btn-primary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #506cea;
  border-color: #506cea;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #506cea;
  border-color: #506cea;
}

.btn-primary.disabled,
.btn-primary:disabled {
  opacity: 1;
  background-color: #506cea;
  border-color: #506cea;
}

.btn-secondary {
  color: #ffffff;
  background-color: #f06334;
  border-color: #f06334;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #f06334;
  border-color: #f06334;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-secondary.focus,
.btn-secondary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary .show > .btn-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #f06334;
  border-color: #f06334;
}

/* ==============
    End Default CSS 
==================================== */
/* ==============
    Start Navbar CSS 
==================================== */
.navbar {
  padding: 20px 0;
}

.navbar.is-sticky {
  background: #ffffff;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.bg-light {
  background-color: #ffffff !important;
  z-index: 99;
}

.bg-light .navbar-toggler {
  border-color: #506cea;
}

.bg-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(88, 130, 253, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.bg-light .navbar-brand {
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
}

.bg-light .navbar-brand span {
  color: #506cea;
}

.bg-light .navbar-nav .nav-link {
  color: #333333;
  font-size: 16px;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
}

.bg-light .navbar-nav .nav-link:focus,
.bg-light .navbar-nav .nav-link:hover {
  color: #506cea;
}

.bg-light .navbar-nav .nav-link:last-child {
  padding-right: 0;
}

.bg-light .navbar-nav .nav-link.active,
.bg-light .navbar-nav .nav-link.show {
  color: #506cea;
}

.bg-light .navbar-nav .nav-link.active .nav-link,
.bg-light .navbar-nav .nav-link.show > .nav-link {
  color: #506cea;
}

.bg-light .navbar-nav .dropdown .dropdown-menu {
  min-width: 15rem;
  padding: 15px 15px;
  margin: 0;
  top: 115%;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
  box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
  border: none;
  border-radius: 10px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  padding: 0;
  margin: 15px 0;
  background: transparent;
  color: #333333;
}

.bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover,
.bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item.active {
  color: #506cea;
}

.bg-light .navbar-nav .dropdown:hover .dropdown-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

/* ==============
    End Navbar CSS 
==================================== */
/* ==============
    Start Main Banner CSS 
==================================== */
.main-banner {
  height: 680px;
  position: relative;
}

.main-banner-content {
  text-align: left;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.main-banner-content h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-banner-content p {
  margin-bottom: 30px;
}

.main-banner-content .btn-primary {
  margin-right: 13px;
}

.main-banner-content .btn-secondary i {
  margin-right: 4px;
}

.banner-img {
  text-align: center;
}

.pattern {
  background: url(../../assets/img/pattern.png);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 210px;
  z-index: 1;
}

.pattern-2 {
  background: url(../../assets/img/pattern-2.png);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.creative-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background: #506cea;
  height: 100%;
  border-radius: 100% 0 0 0;
}

.creative-bg-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background: #506cea;
  height: 100%;
  border-radius: 0 0 0 100%;
}

/* ==============
    End Main Banner CSS 
==================================== */
/* ==============
    Start Features CSS 
==================================== */
.features-area {
  padding-bottom: 70px;
}

.single-features {
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff;
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-features i {
  font-size: 40px;
  display: inline-block;
  -moz-transition: 0.4s;
  color: #506cea;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-features h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-features p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-features:hover {
  background: #506cea;
}

.single-features:hover h3,
.single-features:hover p,
.single-features:hover i {
  color: #ffffff;
}

/* ==============
    End Features CSS 
==================================== */
/* ==============
    Start About CSS 
==================================== */
.about-area {
  position: relative;
  background-image: url(../../assets/img/pattern-4.png);
  background-attachment: fixed;
}

.about-content {
  margin-top: 20px;
}

.about-content h3 {
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 15px;
}

.about-content p {
  margin-bottom: 25px;
}

.about-content .pull-left {
  float: left;
  margin-right: 45px !important;
}

.about-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.about-content ul li {
  color: #6f8ba4;
  margin-top: 10px;
  font-weight: 400;
  text-align: left;
}

.about-content ul li:first-child {
  margin-top: 0;
}

.about-content ul li i {
  margin-right: 4px;
  color: #506cea;
}

.about-content .btn {
  margin-top: 25px;
}

.about-text span {
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  width: 50px;
  height: 50px;
  background: #506cea;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

.about-text h3 {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.about-text ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 15px;
}

.about-text ul li {
  color: #6f8ba4;
  margin-top: 10px;
  font-weight: 400;
}

.about-text ul li i {
  margin-right: 4px;
  color: #506cea;
}

.about-text ul li:first-child {
  margin-top: 0;
}

.about-text .blockquote {
  margin-bottom: 0;
  background: #506cea;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.about-text .blockquote p {
  color: #ffffff;
}

/* ==============
    End About CSS 
==================================== */
/* ==============
    Start Services CSS 
==================================== */
.services-area {
  padding-bottom: 70px;
}

.single-services {
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-services i {
  font-size: 30px;
  color: #ffffff;
  width: 65px;
  height: 65px;
  text-align: center;
  background: #506cea;
  line-height: 65px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-services h3 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-services p {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-services:hover {
  background: #506cea;
}

.single-services:hover i {
  background: #ffffff;
  color: #506cea;
}

.single-services:hover h3,
.single-services:hover p {
  color: #ffffff;
}

/* ==============
    End Services CSS 
==================================== */
/* ==============
    Start Vision CSS 
==================================== */
.vision-area {
  background-image: url(../../assets/img/pattern-4.png);
  background-attachment: fixed;
}

.tab {
  overflow: hidden;
}

.tab .tab_content .react-tabs .react-tabs__tab-list {
  list-style-type: none;
  margin-bottom: 40px !important;
  padding-left: 0 !important;
  border-bottom: 2px solid #edf5ff !important;
  padding-bottom: 35px !important;
  display: -ms-flexbox !important;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tab .tab_content .react-tabs .react-tabs__tab-list li {
  -ms-flex: 0 0 16.6666666667%;
  -webkit-box-flex: 0;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  color: #222222;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  border: none;
  bottom: 0;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  outline: 0 !important;
  padding: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.tab .tab_content .react-tabs .react-tabs__tab-list li:hover {
  color: #506cea;
}

.tab .tab_content .react-tabs .react-tabs__tab-list li:hover i {
  color: #ffffff;
  background: #506cea;
}

.tab .tab_content .react-tabs .react-tabs__tab-list li:first-child {
  padding-left: 0;
}

.tab .tab_content .react-tabs .react-tabs__tab-list li:last-child {
  padding-right: 0;
}

.tab .tab_content .react-tabs .react-tabs__tab-list li i {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #edf5ff;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.tab .tab_content .react-tabs .react-tabs__tab-list .react-tabs__tab--selected {
  color: #506cea;
}

.tab
  .tab_content
  .react-tabs
  .react-tabs__tab-list
  .react-tabs__tab--selected
  i {
  color: #ffffff;
  background: #506cea;
}

.tab .tab_content .react-tabs .tabs_item {
  display: none;
}

.tab .tab_content .react-tabs .tabs_item:first-child {
  display: block;
}

.tab .tab_content .react-tabs .tabs_item .tabs_item_content h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.tab .tab_content .react-tabs .tabs_item .tabs_item_content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 15px;
}

.tab .tab_content .react-tabs .tabs_item .tabs_item_content ul li {
  color: #6f8ba4;
  margin-top: 10px;
  font-weight: 400;
}

.tab .tab_content .react-tabs .tabs_item .tabs_item_content ul li:first-child {
  margin-top: 0;
}

.tab .tab_content .react-tabs .tabs_item .tabs_item_content ul li i {
  margin-right: 4px;
  color: #506cea;
}

/* ==============
    End Vision CSS 
==================================== */
/* ==============
    Start Fun Facts CSS 
==================================== */
.funfacts-area {
  background-image: url(../../assets/img/parallax.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.funfacts-area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #506cea;
  left: 0;
  opacity: 0.84;
}

.funFact {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.funFact:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.funFact::before,
.funFact::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 75px;
  background: #ffffff;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.funFact::after {
  top: auto;
  bottom: 0;
}

.funFact i {
  font-size: 28px;
  background: #ffffff;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  line-height: 61px;
  color: #506cea;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.funFact h3 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 10px;
}

.funFact p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
}

.funFact:hover::before,
.funFact:hover::after {
  height: 0;
}

.funFact:hover i {
  color: #ffffff;
  background: transparent;
}

/* Fun Fact Two */
.fun-fact {
  position: relative;
  padding-left: 80px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fun-fact i {
  font-size: 28px;
  background: #ffffff;
  display: inline-block;
  width: 60px;
  position: absolute;
  color: #506cea;
  left: 0;
  top: 0;
  height: 60px;
  border: 1px solid #ffffff;
  line-height: 61px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.fun-fact h3 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}

.fun-fact p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
}

.fun-fact:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.fun-fact:hover i {
  color: #ffffff;
  background: transparent;
}

/* ==============
    End Fun Facts CSS 
==================================== */
/* ==============
    Start Join Now CSS 
==================================== */
.join-content {
  margin-top: 45px;
}

.join-content h3 {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 20px;
}

.join-content p {
  margin-bottom: 25px;
}

.join-content .btn-primary {
  margin-right: 6px;
}

/* ==============
    End Join Now CSS 
==================================== */
/* ==============
    Start How It Works CSS 
==================================== */
.single-box {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.single-box.with-line::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: url(../../assets/img/arrow-big.png) no-repeat center center;
  width: 217px;
  height: 210px;
  top: 10px;
  right: -85px;
}

.single-box span {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 84px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
  background: #edf5ff;
  border-radius: 50%;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-box h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.single-box:hover span {
  color: #ffffff;
  background: #506cea;
}

/* ==============
    End How It Works CSS 
==================================== */
/* ==============
    Start Team CSS 
==================================== */
.our-team {
  text-align: center;
  position: relative;
}

.our-team .pic {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.our-team .pic::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(53, 53, 53, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-team img {
  border-radius: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-team .social {
  width: 100%;
  position: absolute;
  top: 45%;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
  list-style-type: none;
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: #506cea;
  margin: 0 3px;
  background: #ffffff;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #ffffff;
  background: #506cea;
}

.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: #222222;
  text-transform: capitalize;
  margin-top: 25px;
  margin-bottom: 10px;
}

.our-team .post {
  display: inline-block;
  color: #6f8ba4;
}

.our-team:hover .pic::before {
  opacity: 1;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  visibility: visible;
}

.our-team:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.our-team:hover .social {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Team Style Two */
.single-team {
  text-align: center;
}

.single-team .pic {
  position: relative;
}

.single-team .pic::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  opacity: 0;
  z-index: 1;
  border: 2px solid #506cea;
  visibility: hidden;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-team .pic::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 2;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-team .social-links {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  opacity: 0;
  z-index: 6;
  visibility: hidden;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.single-team .social-links li {
  display: inline-block;
}

.single-team .social-links li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.single-team .social-links li a:hover {
  background: #506cea;
  border-color: #506cea;
}

.single-team .team-content {
  padding: 20px 0;
  background: #edf5ff;
  border-top: 2px solid #506cea;
}

.single-team .team-content .title {
  font-size: 22px;
  font-weight: 700;
  color: #222222;
  text-transform: capitalize;
  margin-bottom: 10px;
  position: relative;
}

.single-team .team-content .post {
  display: inline-block;
  color: #6f8ba4;
  position: relative;
}

.single-team:hover .pic::before,
.single-team:hover .pic::after {
  opacity: 1;
  visibility: visible;
}

.single-team:hover .pic::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.single-team:hover .pic::after {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.single-team:hover .social-links {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* ==============
    End Team CSS 
==================================== */
/* ==============
    Start Testimonials CSS 
==================================== */
.testimonials-area {
  padding-bottom: 70px;
  position: relative;
}

.testimonials-item {
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testimonials-item .client-info {
  position: relative;
  padding-left: 110px;
  margin-bottom: 40px;
}

.testimonials-item .client-info .img {
  position: absolute;
  left: 0;
  top: 0;
}

.testimonials-item .client-info .img img {
  border-radius: 50%;
}

.testimonials-item .client-info .client-title {
  display: inline-block;
  margin-top: 14px;
}

.testimonials-item .client-info .client-title h4 {
  font-size: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.testimonials-item .client-info .client-title span {
  display: inline-block;
  color: #506cea;
}

.testimonials-item .client-info .client-title span,
.testimonials-item .client-info .client-title h4 {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testimonials-item p {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testimonials-item i {
  position: absolute;
  right: 28px;
  bottom: 20px;
  font-size: 98px;
  color: #edf5ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testimonials-item:hover {
  background: #506cea;
}

.testimonials-item:hover .client-info .client-title span,
.testimonials-item:hover .client-info .client-title h4 {
  color: #ffffff;
}

.testimonials-item:hover p {
  color: #ffffff;
}

.testimonials-item:hover i {
  color: #636363;
}

/* ==============
    End Testimonials CSS 
==================================== */
/* ==============
    Start FAQ CSS 
==================================== */
.accordion {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accordion .accordion-item {
  display: block;
  margin-bottom: 15px;
}

.accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.accordion .accordion-title {
  display: block;
  color: #ffffff !important;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  background: #506cea;
}

.accordion .accordion-title:hover {
  background-color: #f06334;
}

.accordion .active .accordion-title {
  background: #f06334;
  border-radius: 0;
}

.accordion .accordion-content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 15px 15px 0;
}

.accordion .accordion-content.show {
  display: block;
}

/* ==============
    End FAQ CSS 
==================================== */
/* ==============
    Start Pricing CSS 
==================================== */
.pricingTable {
  padding-bottom: 30px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricingTable .title {
  padding: 30px 20px 192px;
  margin: 0 0 30px 0;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  background: #506cea;
}

.pricingTable .title::before,
.pricingTable .title::after {
  content: "";
  width: 280px;
  height: 200px;
  border-radius: 80px;
  background: #ffffff;
  position: absolute;
  bottom: -175px;
  left: -46px;
  -webkit-transform: rotate(-85deg);
  transform: rotate(-85deg);
}

.pricingTable .title::after {
  border-radius: 100px;
  bottom: auto;
  top: 150px;
  left: auto;
  right: -70px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.pricingTable .price-value {
  display: inline-block;
  width: 140px;
  height: 140px;
  line-height: 65px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 30px 0;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricingTable .month {
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 0;
}

.pricingTable .pricing-content {
  list-style: none;
  padding: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricingTable .pricing-content li {
  margin-bottom: 12px;
  color: #737373;
}

.pricingTable .pricing-content li:last-child {
  margin-bottom: 0;
}

.pricingTable:hover .price-value {
  color: #ffffff;
  background: #506cea;
}

/* Pricing Style Two */
.pricing-table {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  padding: 50px 0 30px;
  text-align: center;
  margin-top: 33px;
  border-radius: 5px;
  position: relative;
  background: #ffffff;
  cursor: pointer;
}

.pricing-table .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  margin: 0 auto;
  font-size: 25px;
  position: absolute;
  color: #506cea;
  top: -34px;
  left: 0;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pricing-table .pricing-table-header {
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 20px 0;
  background: #506cea;
}

.pricing-table .title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  color: #ffffff;
}

.pricing-table .price-value {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.pricing-table .price-value b {
  font-weight: 500;
  font-size: 15px;
}

.pricing-table .pricing-content {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
}

.pricing-table .pricing-content li {
  margin-bottom: 12px;
  color: #737373;
}

.pricing-table .pricing-content li:last-child {
  margin-bottom: 0;
}

.pricing-table:hover .icon {
  color: #ffffff;
  background: #506cea;
}

/* ==============
    End Pricing CSS 
==================================== */
/* ==============
    Start Partner CSS 
==================================== */
.partner-area .item {
  text-align: center;
}

.partner-area .owl-item img {
  border: 1px solid #506cea;
  display: inline-block;
}

/* ==============
    End Partner CSS 
==================================== */
/* ==============
    End Subscribe CSS 
==================================== */
.subscribe-area {
  text-align: center;
  position: relative;
  background: #506cea;
}

.newsletter {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  background: #ffffff;
  padding: 35px;
  border-radius: 5px;
}

.newsletter h4 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
}

.newsletter h4 span {
  text-transform: uppercase;
  font-weight: 600;
  color: #506cea;
}

.newsletter .subscribe-form {
  position: relative;
}

.newsletter .subscribe-form .form-control {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1) !important;
  border: none;
  height: 75px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 17px;
}

.newsletter .subscribe-form .btn {
  position: absolute;
  right: 7px;
  border-radius: 30px;
  top: 8px;
  height: 60px;
  text-transform: uppercase;
  width: 175px;
}

.newsletter .subscribe-form .validation-danger {
  margin-top: 15px;
  color: red;
}

.newsletter .subscribe-form .validation-success {
  margin-top: 15px;
}

.subs-sending-msg {
  color: black;
}

.subs-sending-msg {
  color: #6993ff;
}

.subs-error-msg {
  color: #ff7344;
}

.bg-top {
  position: absolute;
  width: 290px;
  height: 393px;
  top: 0px;
  left: 0px;
  background: url(../../assets/img/bg-top.png);
}

.bg-bottom {
  position: absolute;
  width: 350px;
  height: 393px;
  bottom: 0px;
  right: 0px;
  background: url(../../assets/img/bg-bottom.png);
}

.subscribe-area .pattern-2 {
  height: 100px;
}

.subscribe-area .pattern {
  height: 135px;
}

/* ==============
    End Subscribe CSS 
==================================== */
/* ==============
    Start Page Title CSS 
==================================== */
.page-title {
  position: relative;
  height: 350px;
  background: #506cea;
}

.page-title .page-title-content {
  text-align: center;
  position: relative;
  margin-top: -50px;
}

.page-title .page-title-content h3 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-title .page-title-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-title .page-title-content ul li {
  display: inline-block;
  color: #eeeeee;
  font-size: 16px;
}

.page-title .page-title-content ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

/* ==============
    End Page Title CSS 
==================================== */
/* ==============
    Start Contact CSS 
==================================== */
.contact-box {
  background: #ffffff;
  padding: 20px 20px 20px 90px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-box .icon {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 47px;
  border: 1px dashed #506cea;
  color: #506cea;
  border-radius: 50%;
  font-size: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact-box .content h4 {
  font-size: 20px;
  margin-bottom: 12px;
}

.contact-box .content p a {
  color: #777777;
  text-decoration: none;
}

.contact-box .content p a:hover {
  color: #506cea;
}

.contact-box:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.contact-box:hover .icon {
  color: #ffffff;
  background: #506cea;
}

#map {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: inherit;
}

.googleMap {
  margin: 40px 0;
}

.contact-text h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.contact-text p {
  margin-top: 20px;
}

.form-control {
  height: 45px;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-size: 16px;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.form-control:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
  padding-left: 20px;
}

#contactForm .list-unstyled li {
  color: red;
}

#contactForm .btn {
  text-transform: uppercase;
  padding: 10px 35px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
}

#contactForm .contactMsg {
  color: #506cea;
}

/* ==============
    End Contact CSS 
==================================== */
/* ==============
    Start Footer CSS 
==================================== */
.footer-area {
  padding-bottom: 0;
  background-image: url(../../assets/img/pattern-4.png);
  background-attachment: fixed;
}

.single-footer {
  text-align: left;
}

.single-footer .logo {
  margin-top: -6px;
  margin-bottom: 15px;
}

.single-footer .logo a {
  color: #222222;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
}

.single-footer .logo a span {
  color: #506cea;
}

.single-footer .btn {
  margin-top: 15px;
}

.single-footer h3 {
  font-size: 24px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.single-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.single-footer ul li a {
  color: #6f8ba4;
  margin-top: 8px;
  display: block;
  text-decoration: none;
  font-size: 17px;
}

.single-footer ul li a i {
  margin-right: 4px;
}

.single-footer ul li a:hover {
  padding-left: 7px;
  color: #506cea;
}

.single-footer ul li:first-child a {
  margin-top: 0;
}

.single-footer .contact-info {
  margin-top: 15px;
}

.single-footer .contact-info li {
  margin-bottom: 10px;
  color: #737373;
  position: relative;
  padding-left: 25px;
}

.single-footer .contact-info li:last-child {
  margin-bottom: 0;
}

.single-footer .contact-info li i {
  position: absolute;
  left: 0;
  top: 3px;
  color: #506cea;
  font-size: 20px;
}

.copyright-area {
  margin-top: 100px;
  background: #edf5ff;
  padding: 40px 0;
}

.copyright-area p {
  color: #222222;
  margin-top: 6px;
}

.copyright-area ul {
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.copyright-area ul li {
  display: inline-block;
}

.copyright-area ul li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  margin-left: 4px;
  border-radius: 50%;
  border: 1px solid #506cea;
  text-decoration: none;
}

.copyright-area ul li a:hover {
  color: #ffffff;
  background: #506cea;
  border-color: #506cea;
}

/* ==============
    End Footer CSS 
==================================== */
/* ==============
    Scroll Top
==================================== */
aside.ScrollUpButton__Container.ScrollUpButton__Toggled:hover {
  background-color: #506cea !important;
  -webkit-transition: 1s !important;
  transition: 1s !important;
  outline: 0 !important;
}

/* ==============
    Router Transitions
==================================== */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */
