@charset 'UTF-8';

.profile-wrapper {
  width: 30%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;

  .form-group {
    background-color: $lightBg;
    padding: 20px;
    border-radius: 15px;
    color: $mainFontColor;
    margin-bottom: 2rem;
  }
}

.profile-inner-wrap {
  text-align: center;

  .profile-pic-wrap {
    margin-bottom: 1em;
  }
  .profile-pic {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

.form-value {
  font-size: 16px;
  border-left: 8px solid $cottonPink;
  color: $mainFontColor;
  font-weight: $boldText;

  input {
    padding: 0.3em 1em;
    border-radius: 10px;
    box-shadow: none;
    border: 0;
    width: 100%;
  }
}

.personal-detail h5 {
  margin-bottom: 1em;
}

@media screen and (max-width: 780px) {
  .profile-wrapper {
    width: 80%;
  }
}
