@charset 'UTF-8';
//Background Color
$lightbg: $lightBg !default;

.appointment-wrap {
  background-color: #fff;
  padding: 2em;
  border-radius: 20px;
  margin-top: 1em;
}

.wrap-title {
  margin: 1em 0;
  h4::after {
    content: "";
    border: 2px solid #ffc820;
    display: block;
    width: 10%;
    margin-top: 0.5em;
  }
}

.appointment-row {
  background-color: #f1f1f1;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10px;

  & .list-title {
    font-weight: bold;
    font-size: 0.8em;
  }
  & .list-value {
    font-size: 0.9em;
  }
  & .action-btn {
    text-align: -webkit-right;
    color: #ffc500;
    margin-top: 0.5em;

    a {
      color: #ffc820;
    }
    & svg {
      margin-right: 10px;
      font-size: 1.2em;
    }
  }
}

.appointment-row p {
  margin-bottom: 0;
}

.booking-modal-edit-form {
  padding: 2em;

  & .booking-col {
    margin-top: 1em;
  }
}

.btn-primary.submit-btn:hover {
  background-color: #e6e6e6;
  border: 2px solid #ffc501;
}

.btn-primary.cancel-btn:hover {
  background-color: #ffc501;
  border: 2px solid #ffc501;
}
.submit-btn {
  background-color: #ffc501;
  border: 2px solid #ffc501;
  padding: 0.5em 2em;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 2em;
  font-weight: bold;
  color: #fff;
}

.cancel-btn {
  background-color: #fff;
  border: 2px solid #ffc501;
  padding: 0.5em 2em;
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 2em;
  font-weight: bold;
  color: #ffc501;
  margin-right: 10px;
}
@media screen and (max-width: 780px) {
  .appointment-row .col {
    margin-bottom: 1em;
  }
  .wrap-title {
    margin: 1em 0;
    h4::after {
      width: 40%;
    }
  }
}
