@charset 'UTF-8';
//Background Color
$lightbg: $lightBg !default;
select {
  width: -webkit-fill-available;
  height: 37px;
  border-color: rgb(184, 184, 184);
}
.booking-wrap {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 28px;
  box-shadow: 1px 10px 10px 1px rgba(195, 195, 195, 0.2);
}

.booking-inner {
}

.bg-float {
  height: 100%;
  z-index: 1;
}

.bg-img {
  position: absolute;
  width: 100%;
}

.bg-img-1 {
  right: 0;
  width: 50%;
  position: absolute;
  img {
    width: 100%;
  }
}

.bg-img.top {
  top: 15%;
  right: -10%;
}

.bg-img.bottom {
  bottom: 0;
}

.step-num-bg {
  position: absolute;
  top: 0;

  & p {
    font-size: 10em;
    font-weight: bolder;
    color: #ffc501;
    opacity: 0.1;
  }
}

.booking-inner {
  padding: 0 2em;
  margin-bottom: 3em;
}
.prev-btn {
  margin-top: 2em;
}

.booking-step-title {
  font-weight: bold;
}

.booking-btn-wrap {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
}

.btn.btn-primary.booking-submit {
  background-color: #ffc501;
  border: 0;
  padding: 0.5em 2em;
  border-radius: 0;
  border-bottom-right-radius: 20px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  /* position: absolute; */
  /* width: 100%; */
}

.thank-title {
  font-weight: bold;
}

.btnarrow {
  margin-left: 10px;
  color: #fff;
}
.error-text {
  color: rgb(231, 73, 73);
}
.booking-summary {
  .booking-col {
    margin-top: 1.2em;
    .input input {
      border: 0;
      padding: 0;
    }
    .input::before {
      content: "";
      border-left: 5px solid #ffc500;
      /* display: inherit; */
      width: 20px;
      height: 20px;
      padding-right: 10px;
    }
  }
}

.booking-left {
  border-right: 2px solid #f7f7f7;
}

@media screen and (max-width: 380px) {
  .booking-inner {
    padding: 0;
  }
}
