@charset 'UTF-8';

.error-main-wrapper {
  height: 100vh;
  display: table;
  width: 100%;
  .error-page-text {
    text-align: center;
    color: $mainFontColor;

    h5 {
      font-weight: $boldText;
      margin-top: 1em;
    }

    a {
      cursor: pointer;
      background-color: $cottonPink;
      color: $mainFontColor;
      border: 0;
      padding: 10px 50px;
      border-radius: 30px;
      margin-left: 0.5em;

      &:hover {
        text-decoration: none;
        background-color: #646e79;
        color: #fff;
        transition: 0.5s;
      }
    }
  }
}
.error-inner {
  display: table-cell;
  vertical-align: middle;
}

.img404 {
  width: 600px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .img404 {
    width: 100%;
  }
  .error-main-wrapper .error-page-text a {
    display: block;
    margin-top: 0.5em;
  }
}
