@charset 'UTF-8';

.personal-detail.form-add .label {
  margin-bottom: 0.5em;
}

.form-add button {
  background-color: $cottonPink;
  color: $mainFontColor;
  border: 0;
  padding: 10px 50px;
  border-radius: 30px;
  font-weight: $boldText;
  margin-top: 1em;
}

.personal-detail.form-add .form-group {
  background-color: transparent;
  padding: 20px 0;
  margin-bottom: 1em;

  input {
    background-color: #eff2f3;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid #ced4da;
    text-align: center;
  }

  .form-value {
    border-left: 8px solid #ced4da;
  }
}

.booking-col {
  margin-top: 2em;

  & .label {
    margin-top: 0.2em;
    font-weight: bold;
  }

  & .input input {
    border: 2px solid #cbcbcb;
    border-radius: 5px;
    padding: 0.3em 1em;
    width: 100%;
  }
}
