@charset 'UTF-8';
//Background Color
$lightbg: $lightBg !default;

.logo {
  width: 80%;
}

.home-wrapper {
  background-color: #f0f0f0;
}

.column-img img {
  width: 100%;
}

.page-content {
  margin: 3em 0;
}

.column-wrap {
  margin-bottom: 2em;
  color: $mainFontColor;

  .column-title {
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: 1em;
  }

  .column-btn {
    background-color: $cottonPink;
    color: $mainFontColor;
    border: 0;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: $boldText;
    margin-top: 1em;
    text-align: center;
  }
}

.footer {
  text-align: center;
  padding: 1em 0;
  background-color: $lightBg;
}

.page-intro {
  text-align: center;
  margin-bottom: 1em;

  .title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .subtitle {
    margin-top: 2em;
    font-weight: bold;
  }
}

.booking-wrap {
  z-index: 2;
}

.bottom-illustration {
  // position: absolute;
  bottom: 0;
  z-index: 3;
}

// .home-wrapper {
//   min-height: 80vh;
//   width: 100%;
//   display: table;
//   vertical-align: middle;
// }

@media screen and (max-width: 780px) {
  .logo {
    margin-left: 15px;
    width: 50%;
  }
}

@media screen and (max-width: 380px) {
  .page-intro {
    & .title {
      margin-bottom: 1.2em;
    }
  }
  .booking-inner {
    padding: 0;
  }
}
