@charset 'UTF-8';

.loader-text {
  font-weight: bold;
  margin: 1em 0em;
  color: $mainFontColor;
}

.hidden.loader {
  display: none;
}

.dismiss-btn button.btn.btn-primary {
  background-color: $cottonPink;
  color: $mainFontColor;
  border: 0;
  padding: 10px 50px;
  border-radius: 30px;
  font-weight: $boldText;
  margin-top: 1em;
}
