@charset 'UTF-8';

.modalpop {
  .modal-content {
    /* flex: 1; */
    border-radius: 20px;
    text-align: center;
    padding: 2em;
    color: $mainFontColor;
  }
  .modal-icon {
    font-size: 50px;
    color: #d7003a;
  }
  button.btn.btn-primary {
    background-color: #ffc501;
    color: #fff;
    border: 0;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: $boldText;
    margin-top: 1em;
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: $mainFontColor;
    color: #fff;
  }
  h4 {
    font-weight: bolder;
  }
}

.modal-dialog a {
  color: #000;
  /* font-weight: bold; */
  &:hover {
    text-decoration: none;
  }
}
