@charset 'UTF-8';

#basic-navbar-nav {
  border: 0;
}

.main-navbar {
  padding: 0;
  border-bottom: 1px solid #f0f0f0;
  background-color: $lightBg;
}

.navbar-expand-lg .navbar-collapse {
  margin-top: 0;
  align-self: center;
}

.navbar-light .navbar-nav .nav-link.line-btn {
  border: 2px solid #ffc501;
  background-color: #fff;
  border-radius: 50px;
  width: 100px;
  text-align: center;
  padding: 0.3em;
  color: #ffc501;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.line-btn.active {
  color: #ffc501;
  font-weight: bold;
}

.collapse.show div div {
  margin-left: 0;
}

.navbar-light .navbar-toggler {
  margin-right: 10px;
}

@media screen and (max-width: 780px) {
  .highlight-btn.navbar-nav {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    margin-top: 1em;
  }
  .navbar-light .navbar-nav {
    margin-left: 0;
  }
  .collapse.show div div {
    margin-left: 0 !important;
  }
}
