@charset 'UTF-8';

.table-wrapper .DateRangePicker {
  margin: 2em 0;
  width: 50%;

  .DateRangePickerInput {
    width: 100%;
    display: flex;
    margin-left: 1em;
  }
  .DateRangePickerInput_arrow {
    align-items: center;
    align-self: center;
    width: 25%;
  }
}

.table-row {
  flex-direction: row;
  margin: 1em 1em;
  margin-bottom: 2em;
  color: $mainFontColor;

  .field span {
    margin-right: 5px;
    font-weight: bold;
  }
  button.btn.btn-primary {
    background-color: $cottonPink;
    color: $mainFontColor;
    font-weight: $boldText;
    border: 0;
    padding: 0.5em 1.5em;
    border-radius: 30px;
  }

  label {
    margin-right: 5px;
  }

  .action.buy {
    display: flex;
    justify-content: flex-end;
  }
}

.table-row-header .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em 1em;
}

.table-row-header .header .field {
  display: flex;
  flex-basis: 100%;
  flex: 1;
}

.table-row .data {
  background-color: #f0f0f0;
  margin: 0.5em 0;
  border-radius: 15px;
  padding: 1em;
}

.table-row .data .field {
  display: flex;
  flex-basis: 100%;
  flex: 1;
}

.table-row .data .field-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .table-wrapper .DateRangePicker {
    margin: 2em 0;
    width: 100%;
  }
  .table-wrapper .DateRangePicker .DateRangePickerInput {
    margin-left: 0;
  }
  .table-row .action.buy {
    display: flex;
    justify-content: normal;
    margin-top: 1em;
  }

  .table-row-header .header .field {
    display: block;
    flex: none;
  }
  .table-row .data .field-data {
    display: block;
  }
}
