@charset 'UTF-8';
//Background Color
$lightbg: $lightBg !default;

.sign-in-sign-up-wrap {
  background-color: #fcfcfc;
  width: 40%;
  margin: 0 auto;
  min-height: 500px;
  box-shadow: 1px 1px 30px 1px rgba(232, 232, 232, 0.9);
  border-radius: 30px;
  padding: 2em;
  margin-top: 2em;

  .nav.nav-tabs {
    padding-top: 1em;
    margin: 0 auto;
    border-bottom: 0;

    a {
      font-size: 20px;
      color: $mainFontColor;
      opacity: 0.8;
    }

    .nav-link:hover {
      border: 0;
    }

    .nav-link.active {
      font-size: 20px;
      font-weight: bold;
      border: 0;
      border-bottom: 2px solid black;
      background-color: transparent;
      opacity: 1;
    }
  }
  .tabgroup {
    .tab-content {
      padding: 1em;
    }
  }

  .label {
    color: $mainFontColor;
    font-weight: $boldText;
    margin-bottom: 1em;
  }

  .forminput {
    background-color: $inputBg;
    border-radius: 30px;
    font-weight: $boldText;
  }

  .buttonFormSubmit.btn-primary {
    background-color: $cottonPink;
    color: $mainFontColor;
    border: 0;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: $boldText;
    margin-top: 2em;
  }
  .wrapper {
    margin-top: 2em;
  }
}

.home-wrap {
  min-height: 100vh;
  display: table;
  width: 100%;
}
.home-inner-wrap {
  display: table-cell;
  vertical-align: middle;
}

.column-img img {
  width: 100%;
}

@media screen and (max-width: 780px) {
  .sign-in-sign-up-wrap {
    width: 90%;
  }
}
