@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// Colors
$lightBg: #f0f0f0;
$primaryFont: "Montserrat", sans-serif;
$white: #fff;
$mainFontColor: #646e79;
$boldText: bold;
$inputBg: #eff2f3;
$cottonPink: #f1d4d4;

div {
  position: relative;
  font-family: $primaryFont;
}

.main-wrap {
  background-color: #f0f0f0;
  width: 100%;
  position: relative;
}

.container {
  z-index: 2;
}

.align-center {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .main-wrap {
    padding-bottom: 20em;
  }
}
