.SingleDatePicker {
  width: 100%;
  text-align: left;
}

.SingleDatePickerInput {
  width: 100%;
}

.DateInput_input__focused {
  width: 100%;
  border-bottom: none !important;
}

.DateInput {
  width: 100% !important;
}

.SingleDatePickerInput__withBorder {
  border: none;
}

.DateInput_input__focused {
  width: 100%;
  border-bottom: 1px solid #ccc !important;
}
.form-control {
  border: 1px solid #ced4da;
  text-align: center;
}

.login-area {
  text-align: center;
  position: relative;
  background: #fefffe;
}

.login-form-logo {
  margin-bottom: 1em;
  & img {
    width: 200px;
  }
}

.login-btn.btn {
  background-color: #009a3d;
  border-color: #009a3d;
  font-weight: bold;
}
.login-form {
  display: table-cell;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.login-form-inner {
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  background: #ffffff;
  padding: 35px;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.login-form-inner form {
  width: 80%;
  margin: 0 auto;
}

.notmember-wrap {
  margin-bottom: 1em;
}

.notmember-wrap a {
  padding-left: 0.5em;
  color: #009a3d;
  font-weight: bold;
}

.form-control-group {
  margin-bottom: 3em;
}
.login-form h4 {
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 30px;
}

.login-form h4 span {
  text-transform: uppercase;
  font-weight: 600;
  color: #506cea;
}

.login-outer {
  display: table;
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 480px) {
  .login-form-inner {
    width: 100%;
  }
}
