.App {
  overflow: hidden;
  background-color: #f0f0f0;
}

.spinner-loading {
  margin-left: 15px;
  margin-top: 15px;
}

.loader .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px; //corelate to bg width/height
  width: 200px; //corelate to img width
  height: auto; //corelate to img width
  padding: 10px; //corelate to img width/height
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 20px 1px rgba(218, 218, 218, 0.5);
  border-radius: 25px;
  z-index: 999;
}

.loader .bg img {
  width: 140px;
}
button.btn.btn-primary {
  background-color: #009a3d;
}

.main-navbar img {
  width: 100%;
}
.topbar-nav {
  margin-left: 0em;
  margin-right: auto;
  align-items: center;

  a {
    margin-left: 1em;
    font-weight: bold;
    .dropdown-item {
      margin-left: 0;
    }
    .nav-link {
      cursor: pointer;
    }
  }
}

.modal-footer button.btn.btn-primary {
  margin-bottom: 0;
}

.topbar-nav .dropdown-item {
  padding: 0;
}

// #basic-navbar-nav {
//   margin-left: 2em;
// }

.logoutbtn {
  background-color: #e4e1e1;
  border-radius: 10px;
  padding: 0.5em 1em;
}

a:not([href]):not([tabindex]).logoutbtn {
  color: rgba(0, 0, 0, 0.5);
}

.form-group input::placeholder {
  color: #65668a;
  opacity: 0.4;
}
.form-group label {
  color: #029645;
  font-weight: 500;
}

// Maintanence

.maintanence-post {
  display: table;
  min-height: 100vh;
  width: 100%;

  h2 {
    color: #25a15a;
  }

  p {
    color: #2c6142;
  }
}

.maintanence-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  .logo {
    width: 200px;
    margin: 0 auto;
  }
}

.illustration-wm {
  width: 400px;
  margin: 1em auto 3em auto;
}

.switchoff {
  display: none;
}

.switchon {
  display: table;
  width: 100%;
  min-height: 100vh;
}

.routeoff {
  display: none;
}
.loader {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 9999;
  display: block;
  margin: 0;
  height: 100%;
  text-align: center;
}

.spinner-loading {
  margin: 0 auto;
  vertical-align: middle;
}

@media screen and (max-width: 780px) {
  .logoutbtn {
    background-color: transparent;
    border-radius: 0;
    padding: 0.5em 0.5em;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    margin-left: 0.5em;
  }
  .topbar-nav {
    margin-left: 0em;
    margin-right: 0;
  }

  #basic-navbar-nav {
    margin-bottom: 2em;
    box-shadow: 1px 8px 10px 1px rgba(191, 191, 191, 0.2);
  }
  .maintanence-post {
    padding: 1em;

    h2 {
      margin: 1em 0;
    }
  }
  .illustration-wm {
    width: 300px;
    margin: 0 auto;
  }
  .maintanence-inner {
    padding: 0 1em;
  }
}
