.payment-container {
  padding: 40px;
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  border: 1px solid #ced4da;
  text-align: center;
  width: 100%;
  height: 45px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
.validation-text {
  color: rgb(222, 29, 29);
}
.sales-entry-form {
  & input {
    border: 1px solid #dedede;
  }
  & label {
    color: #029645;
    font-weight: bold;
  }
  & select.form-control {
    margin: 0;
  }
  :focus {
    background-color: #cacaca;
  }
  p {
    color: #44675e;
  }
  .form-control-group {
    margin-bottom: 1em;
  }
  & .form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-left: 0;
    width: 20px;
    margin: 0;
    margin-right: 0.3125rem;
  }
  & thead {
    background-color: #efefef;
    border: 0;
  }
  & .credit-card-input {
    padding: 0.5em 0.5em;
    border-radius: 10px;
    height: 50px;
    position: relative;
  }
  & #field-wrapper {
    margin: 1em 0;
    height: 80px;
    & img {
      width: 60px;
    }
  }
  & .creditLabel {
    overflow: inherit;
  }
  & .custom-control-inline {
    margin-left: 0.5em;
    margin-bottom: 1em;
  }
  & .form-check label {
    font-size: 1.2em;
  }
  & .radio-control {
    margin: 0.5em;
    & label {
      font-size: 1.2em;
    }
  }
}

.sales-container {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.payment-info {
  background-color: #ececec;
  padding: 1em;
  margin-bottom: 1em;
}
.payment-type {
  margin: 1em 0 1em 0;
  & .form-check-inline {
    margin-bottom: 1em;
    display: block;
  }
}

.note {
  margin: 2em auto;
  & p {
    color: #000;
  }
}
.installmenttype-container {
  background-color: #f3f3f3;
  padding: 1em;
}

form.sales-entry-form .text-input input {
  border: 0;
  text-align: -webkit-auto;
  border-bottom: 2px solid #ced4da;
  width: 60%;
  border-radius: 0;
  background-color: whitesmoke;
}
.sales-entry-outer {
  padding: 1em 0;
}

.sales-entry-inner {
  margin: 0 auto;
  padding: 1em 0;
  background-color: #fff;
}
.sales-entry-wrap {
  margin: 0 auto;
  border: 1px solid #dedede;
}
.sales-entry-header {
  background-color: #efefef;
  padding: 1em;
  display: inline-block;
  width: 100%;

  & > * {
    display: inline-block;
  }
}

.product-detail {
  background-color: #f7f7f7;
  padding: 1em;
  margin: 1em 0;
  & label.form-check-label {
    font-size: 1em;
  }
}

.sales-entry-form .form-check label {
  font-size: 1em;
  margin: 0.5em 0;
}

.other-payment-input {
  height: 85px;
}

.cheque-block {
  display: block;
  text-align: left;
  width: 100%;
  & input.form-control {
    width: auto;
    display: inline-block;
    margin: 0.5em 0;
  }
}

.continue-sales {
  text-align: center;
  & button {
    margin-left: 1em;
  }
}

.right {
  width: 50%;
  text-align: right;
}
.left {
  width: 50%;
  text-align: left;
}

.contract-no {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.product-table-responsive td {
  padding: 0.5em;
  vertical-align: middle;
  font-weight: bold;
  color: #189a4d;
}

input.Creditinput {
  display: inline-block;
  background-color: #efefef;
}
.checksame {
  margin-bottom: 1em;
}
.sales-entry-form .checksame .form-check label {
  color: red;
  margin: 0;
}

.sales-entry-wrap-inner {
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  background: #ffffff;
  // padding: 35px;
  border-radius: 5px;
  width: 60%;
  margin: 2em auto;
  & .form-control {
    border: 1px solid #ced4da;
    text-align: left;
  }
}

.sales-entry-wrap-inner .react-autosuggest__input {
  text-align: left;
  padding: 10px;
}

.payment-option b {
  border: 0;
  margin-left: 25px;
  color: #074e23;
  margin-right: 10px;
}
.expandform {
  background-color: #fff;
  display: block;
  padding: 1em 2.5em;
}
.expandform .form-control-group {
  background-color: #fff;
}

/* CSS for smaller view spaces */
@media screen and (max-width: 768px) {
  .expandform label {
    margin-left: 20px;
    margin-bottom: 1em;
  }
  /* hide table headings */
  .jim-table-responsive table thead {
    display: none;
  }
  .installment-check.form-check-inline {
    display: block;
  }

  /* treat rows like divs */
  .product-table-responsive table tr {
    display: block;
    border-top: 0; /* separate row data with thicker line */
  }

  /* treat columns like divs */
  .product-table-responsive table td {
    display: block;
    text-align: right; /* text to right */
    border: 0;
    padding: 0.5em 0;

    & p {
      text-align: left;
    }

    & .form-control-group {
      text-align: left;
    }
  }

  .sales-entry-wrap-inner {
    width: 90%;
  }

  .sales-container .step-container .step {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  /* this part is ugly, but necessary to show label on left */
  .product-table-responsive table td:before {
    content: attr(data-label);
    float: left; /* label to left */
    font-weight: 700;
    width: 100%;
    text-align: left;
  }
  form.sales-entry-form .text-input input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .sales-entry-wrap {
    width: 60%;
  }
}

@media screen and (max-width: 780px) {
  .sales-entry-form select.form-control {
    padding: 0 15px;
  }
  .sales-entry-wrap {
    width: 90%;
  }
  .product-table-responsive table tr th {
    display: none;
  }
  .validation-text {
    text-align: left;
    display: block;
  }
  .payment-option label {
    margin-left: 20px;
    margin-bottom: 0;
  }
  .payment-option div {
    margin-bottom: 0.5em;
  }
  .payment-container {
    padding: 0;

    & .left-label {
      text-align: left;
    }

    & .pkgbtn {
      text-align: left;
      margin-left: 30px;
    }

    & .form-group {
      margin-bottom: 0;
    }
    & .col-form-label {
      padding: 0;
    }
    & .continue-sales {
      text-align: left;
    }
    & .mode-payment-inner label {
      text-align: left;
    }

    & .mode-payment-inner {
      padding: 0 1.5em;
      text-align: center;
    }

    & .payment-option b {
      margin-left: 25px;
      border: 0;
      color: #074e23;
      margin-right: 10px;
    }
  }

  & .sales-entry-form thead {
    display: none;
  }

  & .continue-sales {
    margin-top: 1.5em;
  }

  // .sales-entry-form .form-check-inline input[type="radio"] {
  //   position: absolute;
  //   left: -10%;
  //   /* padding-left: 10px; */
  // }
  // margin-left: 10px;
  // .product-table-responsive table tr th:first-child {
  //   display: block;
  // }
}

@media screen and (max-width: 320px) {
  .table thead th {
    padding: initial;
  }
}
