.asterisk {
  color: red;
  position: absolute;
  margin-left: -1em;
}
.col-form-label {
  text-align: left;
}
.btn.btn-primary {
  margin-bottom: 1em;
}
.signup-form-inner {
  box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
  background: #ffffff;
  padding: 35px;
  border-radius: 5px;
  width: 60%;
  margin: 2em auto;
  text-align: center;
  & .form-control {
    border: 1px solid #ced4da;
    text-align: left;
  }
}
.form-title .form-icon svg {
  border: 2px solid #353535;
  padding: 0.2em;
  font-size: 30px;
  width: 30px;
  border-radius: 50px;
}
.signup-intro {
  text-align: center;
}
.date-picker {
  width: 100%;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}
.signup-message span {
  margin: 1em auto;
  border-left: 3px solid #009a3d;
  background-color: #ececec;
  padding: 0.5em 2em;
}

.title hr {
  width: 20%;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  margin: 1.5em auto 2em auto;
}

.signup-form {
  display: table-cell;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  & form {
    background-color: whitesmoke;
    padding: 3em 2em;
    border-radius: 0px 0px 30px 30px;
  }
}

.form-info-title {
  font-size: 1.2em;
  color: #353535;
}

.signup-message {
  margin: 2em 0;
}

.signup-form-logo {
  margin-bottom: 1em;
  text-align: center;
  & img {
    width: 200px;
  }
}

.signup-area {
  text-align: left;
  position: relative;
  background: #fefffe;
  padding: 2em 0;
}

.signup-btn-wrap {
  text-align: center;
  margin: 2em 0;
}
.signup-btn-wrap button {
  margin: 0 1em;
}

.signup-form-inner .form-control-group {
  margin-bottom: 2em;
}

.addresscontainer {
  padding: 0 0.5em;
}

.form-icon {
  margin-bottom: 0.5em;
}
.form-title {
  padding: 1em 0 0.5em 0;
  background-color: #efefef;
  border-radius: 15px 15px 0px 0px;
  color: #353535;
}

.next-step {
  background: #ccc;
  color: #555;
  padding: 15px;
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin: 80px auto 0;
  border-radius: 4px;
  width: 150px;
  cursor: pointer;
}
.next-step:hover {
  background: #bbb;
}
.step-container .step-separator.active {
  background-position: left bottom;
}
.step-container {
  margin: 3% auto;
  text-align: center;
}
.step-container .step {
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 40px;
  transition: background 1000ms ease, color 1000ms ease;
  transition-delay: 800ms;
  background: linear-gradient(to right, #009a3d 50%, #eaeaea 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.step-container .step.active {
  background-position: left bottom;
  color: #eaeaea;
}
.step-container .step-separator {
  position: relative;
  z-index: 1;
  background: #444;
  height: 15px;
  width: 80px;
  margin: 0 -10px 0px -10px;
  display: inline-block;
  background: linear-gradient(to right, #009a3d 50%, #eaeaea 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background 1000ms ease;
  &.active {
    background-position: left bottom;
  }
}
.step-container .step-separator.active {
  background-position: left bottom;
}
.pkgbtn {
  text-align: left;
}
.mode-payment-inner {
  padding: 1em;
  text-align: center;
  & label {
    display: block;
    text-align: left;
    padding-left: 0.5em;
  }
}

.mode-payment-inner .form-check-inline .form-check-input {
  position: absolute;
  margin-left: -1em;
}
.left-label {
  text-align: left;
}
.join-action {
  margin-top: 2em;
  border-top: 1px solid #cecece;
  padding-top: 2em;
}
button.btn.btn-primary.backbtn {
  background-color: lightgrey;
  border-color: lightgrey;
  color: #777;
  margin-right: 1em;
}
@media screen and (max-width: 1200px) {
  .pkgbtn button {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 780px) {
  .signup-form-inner {
    width: 90%;
    padding: 1.5em;
    margin: 1em auto;
  }
  button.btn.btn-primary.backbtn {
    background-color: lightgrey;
    border-color: lightgrey;
    color: #777;
    margin-right: 0.5em;
  }

  .signup-btn-wrap button {
    margin: 0.5em 0;
  }
  .step-container .step-separator {
    width: 50px;
  }

  .signup-form {
    & form {
      padding: 3em 1em;
    }
  }
  .left-label {
    text-align: center;
  }
  .mode-payment-inner .form-check-inline .form-check-input {
    position: static;
    margin-left: 0;
  }
  .mode-payment-inner label {
    text-align: center;
  }
  .signup-btn-wrap .backbtn {
    background-color: lightgrey;
    border-color: lightgrey;
    color: #777;
  }
  .pkgbtn {
    text-align: center;
  }
  .buss-policybtn {
    font-size: 0.8em;
  }
}
