.dates {
  // margin: 0.5em 0;
  & .DateRangePickerInput__disabled_2 {
    background-color: transparent;
  }
  & .DateInput__disabled {
    background: transparent;
  }
  & .DateInput_input__disabled {
    background: transparent;
    padding: 0;
  }
  & .DateInput {
    width: 45%;
  }
  & input {
    text-align: center;
  }
}

.padding {
  padding: 5px;
}

.search-row {
  .search-input {
    border: 0;
    background: transparent;
    // border-bottom: 1px solid #000000;
    border-radius: 0;

    &:before {
      content: "lol";
      position: relative;
      display: block;
    }

    @media only screen and (max-width: 768px) {
      & {
        display: block;
        float: left;
        width: 100%;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    & {
      display: block;
      float: left;
      width: 100%;
    }
    .col {
      display: block;
      float: left;
      width: 100%;
      flex-basis: unset;
      flex-grow: unset;

      select {
        margin: 10px 0;
      }
      button {
        width: 100%;
      }
    }
  }
}
.collapse {
  border-top: 4px solid #f5f5f5;
  width: 100%;
  float: left;
  margin: 15px 0 0 0;
  padding: 10px;
  &.show {
    display: block;
    div {
      div {
        margin-left: 20px;
      }
    }
  }
}
.pagination {
  text-align: center;
  ul {
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        cursor: pointer;
        padding: 10px;
        display: block;
        color: #5f5f5f;

        &.active {
          color: #2298f2;
        }
      }
      &:hover {
        color: #2298f2;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    & {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
}

.center-btn {
  align-self: center;
}

@media screen and (max-width: 780px) {
  .motor-box .action {
    text-align: center;
  }
}
