@charset 'UTF-8';

// 1.Overwrite stuff
// $corp-color: $gray;
// $corp-color-darken: darken($corp-color, 10%);
// $corp-color-second: $blue;
// $corp-color-second-dark: darken($corp-color-second, 10%);

// $base-font-size: 1.6;
// $base-font-family: Droid Sans, Georgia, Arial;

// $base-border-radius: 0px;
// $base-border-color: $gray-light;

// $accordion-bgcolor: $gray-light;

// 2. Import basic theme
@import "../../application";
